html,body,h1 {
  padding:0;
  margin:0;
}

html {
  overflow-y:scroll; /* Easiest way to avoid the side jump when the scrollbar appears but this way the scrollbar is always visible.. */
  height:100%;
}

body {
  height:100%;
  position:relative;
  min-width:600px;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color:#EEEEEE;
  background-image:url('background.jpg');
}

#header {
  position:relative;
  height:70px;
  width:100%;
}

#header h1 {
  text-align:center;
  font-size:40px;
  line-height:70px;
}

#header a:link, #header a:visited {
  color:#000000;
  text-decoration:none;
}

#user-nav {
  position:absolute;
  top:18px;
  left:25px;
  height:32px;
  line-height:32px;
}

#user-nav img {
  vertical-align:middle;
  margin-right:5px;
  border:solid 1px #000000;
  max-height:30px;
}

#user-nav a {
  display:block;
  font-size:22px;
  padding:3px;
}

#user-nav a:hover {
  background-color:#eeeeee;
  border-color:#eeeeee;
  border-width:3px;
  border-style:solid;
  padding:0px;
}

#header-search {
  position:absolute;
  top:25px;
  right:25px;
}

#header-search input {
  width:180px;
}

#body-search input {
  width:400px;
  font-size:30px;
  padding-left:5px;
  padding-right:5px;
  border:solid 1px #999;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
}

#content {
  margin-top:-70px;
  padding-left:40px;
  padding-right:40px;
  height:100%;
}

#footer {
}

div.center-wrapper {
  text-align:center;
  line-height:0px;
}

div.centered {
  display:inline-block;
  /* text-align:left; */
  line-height:normal;
}

div.ider {
  padding-top:8em;
}

div.idier {
  padding-top:16em;
}

/*div.h-center-wrapper {
  float:left;
  height:50%;
  margin-bottom:-100px;
}

div.h-centered {
  position:relative;
  clear:both;
  height:240px;
}*/

line.link {
  stroke: #ccc;
}

circle.node {
  fill: #000;
  stroke: #fff;
  stroke-width:1.5px;
}