html,body,h1 {
  padding:0;
  margin:0;
}

html {
  overflow-y:scroll; /* Easiest way to avoid the side jump when the scrollbar appears but this way the scrollbar is always visible.. */
  height:100%;
}

body {
  min-height:100%;
  position:relative;
  min-width:600px;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color:#E6E6E6;
  background-image:url('background.jpg');
}

.header {
}

.logo {
  position:absolute;
  top:1.4em;
  left:50%;
  margin-left:-175px;
}

#user-nav {
  position:absolute;
  top:20px;
  left:25px;
  height:32px;
  line-height:32px;
}

#user-nav img {
  vertical-align:middle;
  margin-right:5px;
  border:solid 1px #000000;
  max-height:30px;
}

#user-nav a {
  display:block;
  font-size:22px;
  padding:2px;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

#user-nav a:link, #user-nav a:visited {
  color:#A72027;
  text-decoration:none;
}

#user-nav a:hover {
  color:#E52C35;
  background-color:#EEEEEE;
  border-color:#EEEEEE;
  background-color:rgba(250,250,250,0.4);
}

#header-search {
  position:absolute;
  top:22px;
  right:25px;
}

#header-search input {
  width:14em;
  font-size:1.1em;
}

.content {
}

.footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:50px;
  line-height:50px;
  font-size:12px;
  color:rgb(70,70,70);
  text-align:center;
}

#loader {
  display:block;
  margin:-75px auto 0 auto;
  width:450px;
}

#body-search {
  margin:-22.5px auto 0 auto;
  width:27.2em;
}

#body-search input {
  width:13em;
  font-size:2em;
  padding-left:0.3em;
  padding-right:0.3em;
  border:solid 1px #999;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
}

#body-search input:focus {
  outline:none;
}

#canvas {
  
}

.centered {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 1px;
  overflow: visible;
  visibility: visible;
}

noscript {
  display:block;
  margin:-72px auto 0 auto;
  width:20em;
  font-size:1.4em;
  color:#B85A53;
}

svg {
  display:block;
}

line.link {
  stroke:#ccc;
}

/*circle.node {
  fill: #000;
  stroke: #fff;
  stroke-width:1.5px;
}*/

text {
  font:10px sans-serif;
  pointer-events:none;
}

text.shadow {
  stroke:#fff;
  stroke-width:3px;
  stroke-opacity:0.8;
}