html,body,h1 {
  padding:0;
  margin:0;
}

html, body {
  height:100%;
  min-height:100%;
}

body {
  position:relative;
  min-width:600px;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
  height:70px;
  line-height:70px;
  width:100%;
  color:#123456
}

#header a:link, #header a:visited {
  color:#123456;
  text-decoration:none;
}

#header h1{
  text-align:center;
  font-size:40px;
}

#content {
  margin-top:-70px;
  padding-left:40px;
  padding-right:40px;
  height:100%;
}

#footer {
}

div.w-center-wrapper {
  text-align:center;
  line-height:0px;
}

div.w-centered {
  display:inline-block;
  # text-align:left;
  line-height:normal;
}

div.h-center-wrapper {
  float:left;
  height:50%;
  margin-bottom:-100px;
}

div.h-centered {
  position:relative;
  clear:both;
  height:240px;
}

label.label {
  width:50px;
  float:left;
  padding-right:10px;
  text-align:right;
}

input.input {
  width:400px;
  font-size:30px;
  padding-left:5px;
  padding-right:5px;
  border:solid 1px #999;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
}