<audio>
	<source src="audio/click.wav"></source>
</audio>


<div class="center-wrapper">
  <div id="wrapper" class="centered idier">
    
    <%= form_tag fetch_user_path, :remote => true, :'data-type' => 'xml', :id => 'body-search' do %>
      <%= text_field_tag :q, nil, :id => nil, :autofocus => "true", :placeholder => @placeholder %>
      <%-# :type => "search" -%>
    <% end %>
    
    <%=	image_tag 'ajax-loader.gif', :alt => 'Loading... Please wait.', :id => 'loader', :style => "display: none" %>
    
    <div id="canvas"></div>
  </div>
</div>
