<audio>
	<source src="audio/click.wav"></source>
</audio>

<div class="h-center-wrapper">
</div>
<div class="h-centered">

  <div class="w-center-wrapper">
    <div class="w-centered">
    
      <%= form_tag fetch_user_path, :remote => true, :'data-type' => 'xml', :id => 'body-search' do %>
        <%= render :partial => 'box'  %>
      <% end %>
      
      <%=	image_tag 'ajax-loader.gif', :alt => 'Loading... Please wait.', :id => 'loader', :style => "display: none" %>
      
      <div id="partialimage"></div>
      
      <div id="chart"></div>
    </div>
  </div>
</div>