<noscript>
  <p>JavaScript is turned off in your web browser.</p>
  <p>This website is fully dependent on Javascript so please turn it on and then refresh this page.</p>
</noscript>

<audio style="display:none">
	<source src="audio/click.wav"></source>
</audio>

<input type="hidden" id="user-page" value="<%= @username %>" />

<div class="center-wrapper">
  <div class="centered">
    <%= form_tag fetch_user_path, :remote => true, :'data-type' => 'xml', :id => 'body-search', :style => "display: none" do %>
      <%= text_field_tag :user, nil, :id => nil, :autofocus => "true", :placeholder => "Type the name of a user..." %>
      <%-# :type => "search" -%>
    <% end %>

    <%=	image_tag 'wait.gif', :alt => 'Loading... Please wait.', :id => 'loader', :style => "display: none" %>
  </div>
</div>

<div id="canvas"></div>
